@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  padding: 0;
}
body {
  width: 100dvw;
  background-color: #161519;
  overflow-x: hidden;
  font-family: "montserrat", sans-serif;
  min-height: 100vh;
}
#particles {
  z-index: -1;
  height: 70vh;
  width: 100%;
  position: absolute;
}
@media only screen and (max-width: 768px) {
  #particles {
    height: 40vh;
  }
}
@media only screen and (min-width: 1024px) {
  #particles {
    height: 60vh;
  }
}
@media only screen and (min-width: 1280px) {
  #particles {
    height: 70vh;
  }
}

@layer base {
  @font-face {
    font-family: "montserrat-bold";
    src: url("/fonts/montserrat-bold.woff2") format("woff2");
  }
  @font-face {
    font-family: "montserrat-medium";
    src: url("/fonts/montserrat-medium.woff2") format("woff2");
  }
  @font-face {
    font-family: "karla-regular";
    src: url("/fonts/karla-regular.woff2") format("woff2");
  }
}

@layer utilities {
  /*FONT*/
  .hero-heading {
    @apply text-white text-3xl text-center font-montserrat-bold capitalize mx-2 max-w-[1440px] md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl;
  }
  .heading {
    @apply text-accent text-2xl font-montserrat-bold lg:text-3xl xl:text-4xl;
  }
  .subheading {
  }
  .heading2 {
    @apply text-white text-2xl font-montserrat-bold lg:text-3xl;
  }
  .paragraph {
    @apply text-sm font-karla-regular lg:text-lg leading-6;
  }
  /*BUTTONS*/
  .button {
    @apply bg-accent text-white font-karla-regular rounded-lg p-2;
  }
  .button-service {
    @apply text-white font-karla-regular text-sm text-start w-full bg-[#111014] p-3 rounded-lg;
  }
  /*FORMS*/
  .form-input {
    @apply text-white bg-transparent border-b-[1px] border-accent focus:outline-none caret-white w-full md:w-[95%];
  }
  /*LAYOUT*/
  .page-width {
    @apply max-w-[1440px] m-auto;
  }
  /*MISC*/
  .logo {
    @apply w-[75px] h-auto sm:w-[100px] md:w-[125px];
  }
  /* NAVBAR */
  .nav-text {
    @apply text-white capitalize text-sm font-montserrat-medium;
  }
  .nav-a {
    @apply h-[100%] px-[24px] flex items-center cursor-pointer; /* FIX THE PADDING */
  }
  .nav-li {
    @apply hidden lg:flex;
  }
  .nav-a-sidebar {
    @apply h-[100%] px-[24px] py-[20px] flex justify-center;
  }
}
